<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <connectionStrings>
    <add name="conexion_OSCAR" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=Seipac_4;UID=sa;PWD=palomar;Connect Timeout=0;Integrated Security=False"/>
    <add name="conexion_SEIPAC" providerName="System.Data.SqlClient" connectionString="Data Source=SERVERSEIPAC\SQLEXPRESS;Initial Catalog=Seipac;UID=sa;PWD=Seipac2020;Connect Timeout=120;Integrated Security=False"/>
    <add name="conexion" providerName="System.Data.SqlClient" connectionString="Data Source=server_win7\sqlexpress;Initial Catalog=sgi_pop;UID=sa;PWD=sa;Connect Timeout=120;Integrated Security=False"/>
    <add name="constr_MySql" connectionString="Data Source=190.228.29.62;port=3306;Initial Catalog=sgi_pop;User Id=marco_sop;password=M4rc02020!; Connect Timeout=30; Allow User Variables=true;" />
  </connectionStrings>
  
  <appSettings>
    <add key="ServerName" value="seipac_32"/>
    <add key="DatabaseName" value="Seipac"/>
    <add key="UserID" value="sa"/>
    <add key="Password" value="sa"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="MuestraFacturaDespachante" value="0"/>
  </appSettings>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
